@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

.dashboard-navbar {
  font-family: "Quicksand", sans-serif;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #24217a;
  color: #fff;
  box-shadow: 0 8px 6px -6px black;
}

.nav-h1 {
  color: #fff;
  text-decoration: none;

}
.logout {
  cursor: pointer;
}

.logout:hover {
  color: #ccc;
}
/* .links {
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  width: 80%;
} */


.header {
  border-bottom: 2px solid #000;
}

.icon:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.trash-icon {
  flex: 1;
  color: red;
  margin-right: 3px;
}

.trash-icon:hover {
  cursor: pointer;
  color: #000;
}

.ball {
  text-align: center;
}
.ball-container {
  margin-top: 75px;
}