@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
.home-container {
  width: 100vw;
}
.create-game {
  font-family: "Quicksand", sans-serif;
  border-top: 1px solid #ccc;
  padding-top: 30px;
  margin: 0 auto;
}

.game-input-container {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25%;
}

.game-input-container .game-info {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 30px;
}

.create-btn {
  padding: 8px 35px;
  font-size: 18px;
  width: 300px;
  background-color: #000;
  outline: none;
  border: 1px solid #000;
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.create-btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

.member-list {
  font-family: "Quicksand", sans-serif;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.member {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  text-align: center;
  font-size: 1.1rem;
}

.header {
  border-bottom: 2px solid #000;
}

.icon:hover {
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.trash-icon {
  flex: 1;
  color: red;
  margin-right: 3px;
}

.trash-icon:hover {
  cursor: pointer;
  color: #000;
}

@media only screen and (max-width: 1100px) {
  .create-game {
    text-align: center;
    padding: 0;
  }
  .game-input-container {
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
  }

  .game-input-container .game-info {
    margin-right: auto;
  }

  .game-input-container input {
    margin: 15px auto;
  }

  .member h3 {
    font-size: 0.9rem;
  }
}
