<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Welcome to the club! Your request to rsvpfc has been accepted. Be on the 
    lookout for emails about upcoming games and be sure to reserve your spot!</p>
    <p>You can login at https://rsvpfc.com/login to view up coming games </p>
    <p>
    
    --------------------------
    </br>
  
    ----------
    </p>

  </body>
</html>