.login-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  width: 40vw;
  margin: 0 auto;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  padding: 2rem;
  margin: 25px auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* label {
    color: #fff;
    font-size: 1.5rem;
  } */

.input {
  margin: 2rem 1rem;
  width: 60%;
}



@media only screen and (max-width: 600px) {
  .login-form {
    width: 80vw;
  }
}
