
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.game {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: 300px;
    overflow: auto;
}
.game h2 {
    margin-bottom: 10px;
}
.game h3 {
    margin-bottom: 10px;
}

.games-container {
    height: 800px;
}

.games {
    width: 75%;
    margin: auto;
}
.edit {
    /* border: 1px solid red; */
    height: 100%;
    margin-right: 25px;
}
.delete {
    /* border: 1px solid green; */
    height: 100%;
    margin-left: 25px;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-around;
    /* border: black solid 1px; */
}

.delete-message{
    width: 30%;
    height: 30%;
    font-family: 'Montserrat', sans-serif;
    background: wheat;
    margin: auto;
    z-index: 200;
}
.delete-message h2  {
    margin: 30px auto;
    text-align: center;
}
.options-container {
    display: flex;
    justify-content: space-evenly;
}
.cancel {
    cursor: pointer;
}
.confirm-delete {
    cursor: pointer;
}