.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background-color: yellow;
}

.input {
  width: 200px;
  height: 40px;
}

.register-input-container {
  display: flex;
}
