@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.game {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: 300px;
    overflow: auto;
}
.game h2 {
    margin-bottom: 10px;
}

.game h2:nth-child(1) {
    margin-top: 10px;
}
.games-container {
    height: 800px;
}

.games {
    width: 75%
}