@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.game {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    height: 400px;
    overflow: auto;
    margin-top: 25px;
}
.game h2 {
    margin-bottom: 10px;
}

.game h2:nth-child(1) {
    margin-top: 10px;
}
.games-container {
    height: 400px;
}

.games {
    width: 82%
}
.change-rsvp {
    margin-bottom: 20px;
}

.members-attending {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}


@media only screen and (max-width: 800px) {    
    .games {
      width: 100%;
    }
      }